.container {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  flex: 1;
  padding: var(--spacing-6);
  background-color: var(--color-muted);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
